.App {
  background-image: url('http://www.fanpop.com/clubs/after-dark/images/21838089/title/haunted-castle-photo'), no-repeat;
  text-align: center;
}

.buttonRandom {
  text-align: center;
}

.card {
  border: black;
  border-radius: 3%;
}
